.Header {
    width: 100%;
    nav {
      ul {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        padding-left: 0;
        li {
          a {
            font-size: 18px;
            color: white;
            opacity: 0.5;
          }:hover{
              opacity: 1;
              transition: .5s;
              letter-spacing: 1px;
          }
        }
      }
    }
  }
  a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: orange;
    display: block;
    transition: 0.5s ease-in-out;
  }
  a:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: orange;
    display: block;
  }